Source: ros-kinetic-rtt-pcl-ros
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-pcl-ros, ros-kinetic-rtt-pcl, ros-kinetic-rtt-roscomm
Homepage: http://ros.org/wiki/rtt_pcl_ros
Standards-Version: 3.9.2

Package: ros-kinetic-rtt-pcl-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-pcl-ros, ros-kinetic-rtt-pcl, ros-kinetic-rtt-roscomm
Description: An Orocos RTT ROS transport plugin for PCL types
